<h1>Employee Registration</h1>
<%= render 'shared/error_messages', :person => @employee %>
<%= form_for(@employee) do |f| %>

	<%= render 'fields', :f => f %>
	
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>

<% end %>
