<h1>Employee Registration</h1>
<p class="red"><strong>Note:</strong> Please be aware that you should only register actual employees, nobody else.</p>
<%= render 'shared/error_messages', :person => @employee %>
<%= form_for(@employee) do |f| %>

	<%= render 'fields', :f => f %>
	
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>

<% end %>
