.container {
	width: 710px;
}

body {
	background: #585858;
}

header {
	padding-top: 20px;
}

header img {
	padding:1px;
	background: #fff;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

.red {
	color:red;
}

/* Shadows */
.shadow {
	-webkit-box-shadow: 0px 2px 8px 1px #000000;
	-moz-box-shadow: 0px 2px 8px 1px #000000;
	box-shadow: 0px 2px 5px 1px #000000;
}

.bottom-shadow {
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Background Gradients 0e0e0e 7d7e7d*/

.gb-gradient {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #515151 36%, #343535 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(36%,#515151), color-stop(100%,#343535)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#515151 36%,#343535 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#515151 36%,#343535 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#515151 36%,#343535 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#343535',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #7d7e7d 0%,#515151 36%,#343535 100%); /* W3C */
}

.sidebar-gradient {
	background: #b2b2b2; /* Old browsers */
	background: -moz-linear-gradient(top, #b2b2b2 0%, #b2b2b2 36%, #777777 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(36%,#b2b2b2), color-stop(99%,#777777)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2b2b2 0%,#b2b2b2 36%,#777777 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2b2b2 0%,#b2b2b2 36%,#777777 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b2b2b2 0%,#b2b2b2 36%,#777777 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#777777',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b2b2b2 0%,#b2b2b2 36%,#777777 99%); /* W3C */
}

/* Links */

a {
	color: #a67f00;
	text-decoration:none;
}

a:hover {
	color:#b79932;
	text-decoration:underline;
}

a:visited {
	color: #a67f00;
}

/* Navigation */

nav {
	float: right;
	background: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin:0;
	padding:0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight:bold;
}

nav ul li a:visited {
	color:#a67f00;
}

nav ul li a:hover {
	text-decoration:underline;
}

/* Sign up button */

a.signup_button {
	margin-left: auto;
	margin-right:auto;
	margin-bottom:10px;
	display: block;
	text-align:center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

/* Round Corners */

.round {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Footer */

footer {
	text-align:center;
	margin-top:10px;
	width:710px;
	margin-left:auto;
	margin-right:auto;
}

footer nav {
	float:none;
}

/* Client Show Page */

table.profile {
	width: 100%;
	margin-bottom: 15px;
}

table.main {
	width: 70%;
	padding: 1em;
}

table.client_addrs {
	padding:1.1em 1.1em 0 1.1em;
}

table.client_addrs h3 {
	font-size:1.1em;
	color: #e5e5e5;
	border-right:1px solid #000;
	margin-bottom:2px;
	margin-right: 5px;
	padding-right:8px;
	display:inline;
}

table.client_addrs span {
	color: #bfbfbf;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

td.sidebar a.create {
	color: #324422;
}

td.sidebar a.create:hover {
	color: #486030;
}

td.sidebar span.email {
	display:block;
	margin-top:-2px;
}

div.separator {
	height:1px;
	width:90%;
	background: #000;
	margin-top:10px;
	margin-bottom:10px;
}

.profile img.gravatar {
	border: 1px solid #000;
	margin-bottom:-15px;
}

div.field, div.actions {
	margin-bottom:10px;
}

.field_with_errors {
	display:inline;
}
.field_with_errors label {
	color:#6a111d;
}

.field_with_errors input {
	border:1px solid #6a111d;
	background-color:#efd8d2;
}

#error_explanation {
	width:400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	display:block;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size:12px;
	list-style: square;
}

ul.clients {
	margin-top:1em;
}

ul.clients li {
	list-style:none;
}

#edit_client_form {
	width:50%;
	display:inline;
	float:left;
	padding-bottom:10px;
	margin-top:5px;
}

#edit_client_addr {
	width: 50%;
	display:inline;
	float:left;
}

.edit_client_gravatar {
	width:50%;
	padding-top:15px;
}

div.client_info img {
  padding-right: 0.1em;
}

div.client_info a {
  text-decoration: none;
}

div.client_info span.client_name {
  position: absolute;
}

div.client_info span.quotes {
  font-size: 80%;
}

