<h1>Add Client</h1>
<%= render 'shared/error_messages', :person => @client %>
<%= form_for(@client) do |f| %>

	<%= render 'fields', :f => f %>
	
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>

<% end %>