
	<table class="front" summary="For signed-in Clients">
		<tr>
			<td class="main">
				<h1 class="client_addr">What's up?</h1>
				<h1>Home</h1>
				<p>Well done, George.</p>
				<%= link_to "Sign Up", '/signup', :class => 'signup_button round' %>
			</td>
			<td class="sidebar round">
				
			</td>
		</tr>
	</table>

	
