<h1>Home</h1>
<p>Well done, George.</p>
<%= link_to "Register", register_path, :class => "signup_button round" %>
<%= link_to "Add Client", '/addclient', :class => "signup_button round", :id => "add_client" %>